<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="thumb"
        label="COM_TRAVEL_CONFIG_THUMB_LABEL"
        description="COM_TRAVEL_CONFIG_THUMB_DESC"
    >
        <field
            name="thumb_width"
            type="text"
            size="50"
            default="120"
            label="COM_TRAVEL_CONFIG_FIELD_THUMB_WIDTH_LABEL"
            description="COM_TRAVEL_CONFIG_FIELD_THUMB_WIDTH_DESC"
        />
        <field
            name="thumb_height"
            type="text"
            size="50"
            default="90"
            label="COM_TRAVEL_CONFIG_FIELD_THUMB_HEIGHT_LABEL"
            description="COM_TRAVEL_CONFIG_FIELD_THUMB_HEIGHT_DESC"
        />
    </fieldset>
    <fieldset
        name="full"
        label="COM_TRAVEL_CONFIG_FULL_LABEL"
        description="COM_TRAVEL_CONFIG_FULL_DESC"
    >
        <field
            name="full_width"
            type="text"
            size="50"
            default="320"
            label="COM_TRAVEL_CONFIG_FIELD_FULL_WIDTH_LABEL"
            description="COM_TRAVEL_CONFIG_FIELD_FULL_WIDTH_DESC"
        />
        <field
            name="full_height"
            type="text"
            size="50"
            default="240"
            label="COM_TRAVEL_CONFIG_FIELD_FULL_HEIGHT_LABEL"
            description="COM_TRAVEL_CONFIG_FIELD_FULL_HEIGHT_DESC"
        />
    </fieldset>
</config>